/* Login.css */

/* Sayfa boyunca margin ve padding sıfırlanır */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%; /* Sayfa yüksekliğini %100 yaparak tam ekran */
  width: 100%; /* Sayfa genişliğini %100 yaparak tam ekran */
}

.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5e5d7; /* Arka plan rengini eşleştir */
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 800px; /* Genişliği ihtiyaca göre ayarlayın */
  width: 100%;
  height: 100%; /* Sayfa yüksekliğine tam uysun */
  position: fixed; /* Sayfa boyunca sabit kalması için fixed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Sayfa içeriğini tam ortalayacak */
}

.login-container {
  flex: 1;
  padding-right: 20px; /* Form ve resim arasındaki boşluk */
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.login-image {
  width: 100%;
  max-width: 300px; /* Görselin boyutunu sınırlayın */
  height: auto;
}

.icon {
  width: 24px; /* İkon boyutunu ayarlayın */
  height: 24px;
  position: absolute;
}

/* Her ikon için konumlandırma */
.icon-top-left {
  top: 10px;
  left: 10px;
}

.icon-top-right {
  top: 10px;
  right: 10px;
}

.icon-bottom-left {
  bottom: 10px;
  left: 10px;
}

.icon-bottom-right {
  bottom: 10px;
  right: 10px;
}

.title {
  color: #0f2e49; /* Koyu mavi renk */
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: left;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input-field {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  background-color: #ffffff;
  color: black;
}

.submit-button {
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #0f2e49; /* Koyu mavi renk */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #1b3c5d;
}

.signup-text {
  margin-top: 16px;
  font-size: 14px;
}

.signup-link {
  color: #0f2e49;
  font-weight: bold;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}
